لتفعيل السرفر  احدف الرمز #

فعل فقط 5 او 6 سرفرات   ب بور مختلف تجنبا لتداخل بيانات كل سرفر او توقفه

#########################################
################ PORT 18805 ##############
#C: fast.ccamplus.net 18805 zhd019 jazair
#C: fast.ccamplus.net 18805 zhd020 jazair
#C: fast.ccamplus.net 18805 zhd021 jazair
#C: fast.ccamplus.net 18805 zhd022 jazair
#C: fast.ccamplus.net 18805 zhd023 jazair
#C: fast.ccamplus.net 18805 zhd024 jazair
#C: fast.ccamplus.net 18805 zhd025 jazair
################ PORT 18806 ##############
#C: fast.ccamplus.net 18806 zhd243 hassan
#C: fast.ccamplus.net 18806 zhd244 hassan
#C: fast.ccamplus.net 18806 zhd245 hassan
#C: fast.ccamplus.net 18806 zhd246 hassan
#C: fast.ccamplus.net 18806 zhd247 hassan
#C: fast.ccamplus.net 18806 zhd248 hassan
################ PORT 18804 ##############
#C: fast.ccamplus.net 18804 zhd085 mohcen
#C: fast.ccamplus.net 18804 zhd086 mohcen
#C: fast.ccamplus.net 18804 zhd087 mohcen
#C: fast.ccamplus.net 18804 zhd088 mohcen
#C: fast.ccamplus.net 18804 zhd090 mohcen
#C: fast.ccamplus.net 18804 zhd091 mohcen
################ PORT 18803 ##############
#C: fast.ccamplus.net 18803 zhd065 mohcen
#C: fast.ccamplus.net 18803 zhd066 mohcen
#C: fast.ccamplus.net 18803 zhd067 mohcen
#C: fast.ccamplus.net 18803 zhd068 mohcen
#C: fast.ccamplus.net 18803 zhd069 mohcen
#C: fast.ccamplus.net 18803 zhd070 mohcen
################ PORT 8800 ##############
#C: fast.ccamplus.net 8800 zhd124 mohcen
#C: fast.ccamplus.net 8800 zhd125 mohcen
#C: fast.ccamplus.net 8800 zhd126 mohcen
#C: fast.ccamplus.net 8800 zhd127 mohcen
#C: fast.ccamplus.net 8800 zhd128 mohcen
################ PORT 8801 ##############
#C: fast.ccamplus.net 8801 zhd067 mohcen
#C: fast.ccamplus.net 8801 zhd068 mohcen
#C: fast.ccamplus.net 8801 zhd069 mohcen
#C: fast.ccamplus.net 8801 zhd070 mohcen
#C: fast.ccamplus.net 8801 zhd071 mohcen
#C: fast.ccamplus.net 8801 zhd072 mohcen
#C: fast.ccamplus.net 8801 zhd073 mohcen
